ProjectShooter/Debug/GameStateManager.obj
ProjectShooter/x64/Debug Win32/vc141.pdb
ProjectShooter/x64/Debug Win32/vc141.idb
ProjectShooter/x64/Debug Win32/pch.obj
ProjectShooter/x64/Debug Win32/ProjectShooter.tlog/unsuccessfulbuild
ProjectShooter/x64/Debug Win32/ProjectShooter.tlog/ProjectShooter.lastbuildstate
ProjectShooter/x64/Debug Win32/ProjectShooter.tlog/CL.write.1.tlog
ProjectShooter/x64/Debug Win32/ProjectShooter.tlog/CL.read.1.tlog
ProjectShooter/x64/Debug Win32/ProjectShooter.tlog/CL.command.1.tlog
ProjectShooter/Debug/obj_loader.obj
ProjectShooter/Debug/mesh.obj
ProjectShooter/Debug/State.obj
ProjectShooter/Debug/Sprite.obj
ProjectShooter/Debug/Sound.obj
ProjectShooter/Debug/ResourceManager.obj
ProjectShooter/Debug/ProjectShooter.tlog/link.write.1.tlog
ProjectShooter/Debug/ProjectShooter.tlog/link.read.1.tlog
ProjectShooter/Debug/PlatformWIN32.obj
ProjectShooter/Debug/PlatformSDL.obj
ProjectShooter/Debug/Platform.obj
ProjectShooter/Debug/Model.obj
ProjectShooter/Debug/MenuState.obj
ProjectShooter/Debug/Map.obj
ProjectShooter/Debug/Log.obj
ProjectShooter/Debug/LinkedList.obj
ProjectShooter/Debug/Key.obj
Debug/ProjectShooter.ilk
Debug/ProjectShooter.exe
.vs/ProjectShooter/v15/ipch/c92e5d493d851e45.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/ce9d02744c9b842b/DOUBLELINKEDLIST.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/3c731311fdc9990a/DOUBLELINKEDLIST.ipch
.vs/ProjectShooter/v15/Browse.VC.opendb
.vs/ProjectShooter/v15/Browse.VC.db
.vs/ProjectShooter/v15/.suo
ProjectShooter/x64/Debug Win32/ProjectShooter.pch
ProjectShooter/x64/Debug Win32/ProjectShooter.log
ProjectShooter/Debug/vc141.pdb
ProjectShooter/Debug/vc141.idb
ProjectShooter/Debug/texture.obj
ProjectShooter/Debug/stb_image.obj
ProjectShooter/Debug/shader.obj
ProjectShooter/Debug/pch.obj
ProjectShooter/Debug/ProjectShooter.tlog/link.command.1.tlog
ProjectShooter/Debug/ProjectShooter.tlog/ProjectShooter.lastbuildstate
ProjectShooter/Debug/ProjectShooter.tlog/CL.write.1.tlog
ProjectShooter/Debug/ProjectShooter.tlog/CL.read.1.tlog
ProjectShooter/Debug/ProjectShooter.tlog/CL.command.1.tlog
ProjectShooter/Debug/ProjectShooter.pch
ProjectShooter/Debug/ProjectShooter.obj
ProjectShooter/Debug/ProjectShooter.log
ProjectShooter/Debug/ImageScreen.obj
ProjectShooter/Debug/GamePlayState.obj
ProjectShooter/Debug/GameObject.obj
ProjectShooter/Debug/Enemy.obj
ProjectShooter/Debug/DoubleLinkedList.obj
ProjectShooter/Debug/BitVector.obj
Debug/ProjectShooter.pdb
.vs/ProjectShooter/v15/ipch/AutoPCH/6d7ab79e4f501019/DOUBLELINKEDLIST.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/79012d1a2cce51a3/STACK.ipch
ProjectShooter/Debug/Stack.obj
.vs/ProjectShooter/v15/ipch/AutoPCH/eaf9598ac3fed571/MAP.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/e62c26068c6e91e6/VEC3.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/ccb2c0f6bf1dc760/PROJECTSHOOTER.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/cb256ae5dc43da18/GAMEPLAYSTATE.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/a96367969261eec7/ENEMY.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/9ceff559f9bd4e39/DOUBLELINKEDLIST.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/8de0786ac2586129/HASHTABLE.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/87d84639152b6196/ENEMYLISTMOVEMENT.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/81c0f5a64f0b7674/RESOURCEMANAGER.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/7d018db929412621/PLATFORMSDL.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/763f9428bded156c/LINKEDLIST.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/69d6c0d7f3f682d9/BITVECTOR.ipch
ProjectShooter/Resources/Models/Toothless.obj
ProjectShooter/Debug/HashTable.obj
ProjectShooter/Debug/EnemyListMovement.obj
.vs/ProjectShooter/v15/ipch/AutoPCH/38981e3be37f20ff/GAMESTATEMANAGER.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/2823875a611ba5b6/IMAGESCREEN.ipch
.vs/ProjectShooter/v15/ipch/AutoPCH/117fc9b7625a33ba/PLATFORM.ipch
ProjectShooter/Debug/ProjectShooter.Build.CppClean.log
